<%= form_for(@relation) do |f| %>
  <% if @relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relation.errors.count, "error") %> prohibited this relation from being saved:</h2>

      <ul>
      <% @relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_aero %><br>
    <%= f.number_field :id_aero %>
  </div>
  <div class="field">
    <%= f.label :id_aptour %><br>
    <%= f.number_field :id_aptour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
