<table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Name aero</th>
        <th>Name aptour</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @tables.each do |table| %>
        <tr>
          <td><%= table.name %></td>
          <td><%= table.name_aero %></td>
          <td><%= table.name_aptour %></td>
          <td><%= link_to 'Show', table %></td>
          <td><%= link_to 'Edit', edit_table_path(table) %></td>
          <td><%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>